favColor=#f62
Orange = #ffaf30
Greenish=#91972A
lightGreen = #b6c454
bleuDuniter=#cceabe
ocre=#d8d174
menuBorderSize=2px
menuHeight=64px
menuHeightArea=menuHeight+menuBorderSize
smallSpace=10px
asideWidth=0px
bgMain=linear-gradient(to right, lighten(bleuDuniter,90%), lighten(lightGreen,10%) 5%, lighten(bleuDuniter,90%) 75%)
bgMenu=hsla(0,0,0%,.7);
colorMenu=white
bgArticle=lighten(bleuDuniter,90%)
bgMenuHover=linear-gradient(to top, #cef, #acd)
bgAside=bgArticle
bgFocus=hsla(0,0,100%,.5);
bannerTextSize=unquote("calc(2.5vw + 2.5vh)")
bannerLineSpace=unquote("calc(4vw + 4vh)")
afterSplash=100px
bannerHeight=unquote("calc(100vh - %s)" % afterSplash)
tabHoverColor=alpha(#000, .1)

//font-family: 'Open Sans', sans-serif;
//font-family: 'Amatic SC', cursive;
//font-family: 'Reenie Beanie', cursive;
//font-family: 'Dawning of a New Day', cursive;

underline()
  border 0
  border-bottom 1px solid transparent
  border-image linear-gradient(to right, alpha(lighten(lightGreen,30%),0) 0%, lighten(lightGreen,30%) 25%, lighten(lightGreen,30%) 75%, alpha(lighten(lightGreen,30%),0) 100%) 100% 1


*
  margin 0
  padding 0
  border 0
  box-sizing border-box
  color darken(bleuDuniter,90%)
  font-family "Open Sans", sans-serif

@media screen
  .onlyPrint
    display none !important
  body
    background bgMain
    display flex
    flex-direction column
    justify-content center

@media print
  #mainMenu, footer, .noPrint, .neverPrint, canvas, .close, .bgPopupClose, .anchorLink
    display none !important
  .print
    display block !important
  [data-print]::after
    content attr(data-print)
    font-size 0.7em
    font-weight normal
    white-space nowrap
  [data-print]
    text-align left
  .subPage.print
    opacity 1
    margin-left 50px
  #splash, #splash>*
    height 12cm !important
    width 100% !important
    background transparent !important
    .onlyPrint
      width 100%
    .countdown
      padding-top 1.5cm !important
      line-height 1.5cm !important
    .delai 
      padding-top 1.5cm !important
      line-height 1.5cm !important
  section
    background none !important
  #accueil .focusBox, #decouvrir, #participerPrint, #info_pratique
    page-break-after always
  .day, img
    page-break-inside avoid
  article .columnArea > *
    display block
  #programme
    .unselected, .inactive
      opacity 1
    article .speakersList
      position initial
  body #programme .day .places li
    display inline-block
  #accueil #decouvrir
    >h2
      text-align center
    >div
      display block
      >div
        flex unset
        /*border-left none
        float left
        width 7.5cm
        padding 0
        &:first-child
          float left
          width 11.5cm
        &:last-child
          clear both
          width 100%
          */
        >ul
          display block
          >li
            flex unset
            text-align left
            margin 0
            padding 0
            >a
              height 100%
              display block
              padding 0px
              .picto
                display inline-block
                vertical-align middle
                margin 0 10px
                font-size 32px
                line-height 32px
                >img
                  height 32px
              .title span
                display block
                margin-left 1.5cm
                margin-top -.2cm
  #apropos .columnArea>*
    padding 10px
    margin-bottom 10px
  .subPage.active
    display block !important
    overflow initial !important
    border none !important
    *
      flex unset !important
      border none !important
    .speaker
      clear both
      page-break-inside avoid
      margin-bottom 0.2cm
      *
        text-align justify !important
      img
        float left !important
        max-height 3cm !important
        margin-bottom 10px !important
        margin-right 10px !important
  #programme article ul li.day
    display block
    clear both
    .sessions
      display block
  .timelines
    min-height 4cm
    float left
    display block
    clear both
    position relative
    .timeline
      float left
      height 100%
      display block
a.nav
  position absolute
  top 10px
  padding 10px
  display block
  height 44px
  font-family "Amatic SC", cursive
  img
    height 24px
    opacity .3
  &:hover img
    opacity .9
.previous
  left 30px
.next
  left 75px

.video
  margin-top 40px
  text-align center
.videoArea
  width 888px
  height 500px
  background-color black
  display block
  margin auto
  text-align center
  padding-top 0.1px
  &:hover img
    transform scale(1.2)
  &:active img
    background-color #ccc

  img
    display block
    margin auto
    margin-top ((500px - 28 - 42)/2)
    padding 20px
    padding-top 8px
    background-color #eee
    border-radius 25px
    transition transform 0.2s
  @media (max-width: 1120px)
    width 560px
    height 315px
    img
      margin-top ((315px - 28 - 42)/2)
  @media (max-width: 620px)
    width 428px
    height 240px
    img
      margin-top ((240px - 28 - 42)/2)
  @media (max-width: 490px)
    width 256px
    height 144px
    img
      margin-top ((144px - 28 - 42)/2)


.vids a img
  height bannerTextSize
  transition transform 0.2s
  &:hover
    transform scale(1.2)


.eventArea .titleBar
  float right
  img
    width 64px
  a
    display inline-block
.infoBoxParent
  position relative
  z-index 1
  .infoBox
    display none
    opacity 0
    transition opacity 0.5s
    z-index 2
  &:hover .infoBox
    display block
    opacity 1
    position absolute
    background white
    border solid 1px lighten(lightGreen,30%)
    top "calc(100% + %s)" % 10px
    left 50%
    width 150px
    margin-left (- @width / 2)
    font-size 12px
    text-align center
    padding 10px
    &:before, &:after
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    &:after
      border-color alpha(white,0)
      border-bottom-color white
      border-width 10px
      margin-left -10px
    &:before
      border-color alpha(lighten(lightGreen,30%),0)
      border-bottom-color lighten(lightGreen,30%)
      border-width 11px
      margin-left -11px


a
  color lightGreen
  text-decoration-color alpha(darken(lightGreen,50%), .3)
  *
    color inherit
a:hover
  text-decoration-color alpha(darken(lightGreen,50%), .9)
header h1
  margin 0
header
  z-index 3

h1 img
  height menuHeight
  padding 6px
  float left
h1 .titre
    padding 0 smallSpace


@media screen
  #mainMenu, footer
    position fixed
    background bgMenu
    display flex
    justify-content space-around
    width 100%
    line-height menuHeight
    z-index 2
    *
      color colorMenu
      font-family "Amatic SC", cursive
    > .spacer
      flex 2
    > a
      flex 1
      font-size 38px
      text-align center
      overflow hidden
      white-space nowrap
      margin 0 smallSpace
      border 0 solid transparent
      text-decoration none
  #mainMenu a:hover
    color lightGreen
    font-weight bold
    background alpha(bgMenu,.1)
    box-shadow 0px 2px 4px 1px black
  #mainMenu a
    &, > *
      text-decoration none
      line-height menuHeight
      display inline-block
      vertical-align top
#nav
  display none


footer
  //display none
  flex-wrap wrap
  position relative
  width 100vw

  div#sponsors, div#main-logos
    text-align center
  
  div#main-logos
    margin auto
    img
      height 155px
      padding 15px
      padding-top 0
    
  div#sponsors
    padding-top 40px
    margin auto
    padding 0
    font-size 36px
    img
      //width 105px
      height 105px
      padding 15px
      padding-top 0

  div#mapandlogos
    display flex
    flex-wrap wrap
    width 100%
    margin auto
    padding-top 30px
    >a
      margin auto
    >a img
      width 155px


  address
    margin auto
    padding 0
    font-size 4vw
    padding-top 40px

    >*
      //flex 1
    >a
      padding 10px
      padding-right 40px

    >div.map
      padding 20px
      padding-bottom 0
      //margin auto
      text-align center
      >iframe
        width 290px
        height 290px
      >a
        color white
        position relative
        top -320px
        font-size 28px
        font-weight bold
        text-shadow 2px 2px 2px black
        
.page
  margin 50px auto
  width 70%
  padding 50px
  box-shadow 0px 2px 4px 1px black
.disclaimer
  margin 50px
  padding 10px 30px
  border 10px solid transparent
  box-shadow 0px 2px 4px 1px black
  background-color alpha(#FE0,0.08)
.MEDdisclaimer, .ddisclaimer
  border 10px solid red
  border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  border-image-slice 10

.BADdisclaimer, .ddisclaimer:hover
  color: red;
  display: block;
  animation: blink-animation 0.2s infinite;
  *
    color: inherit

@keyframes blink-animation {
  0% {
    background: linear-gradient(to right, green, yellow);
    color: yellow;
    border-image-source repeating-linear-gradient(-45deg, purple 0, purple 10px,yellow 10px,yellow 20px)
  }
  50% {
    background: linear-gradient(to bottom, yellow, green);
    color: red;
    border-image-source repeating-linear-gradient(60deg, cyan 0, cyan 10px,yellow 10px,yellow 20px)
  }
  100% {
    background: linear-gradient(to right, yellow, green);
    color: purple;
    border-image-source repeating-linear-gradient(45deg, red 0, red 10px,white 10px,white 20px)
  }
}

p
  margin smallSpace 0
  text-align justify
  text-indent 0

h3, h4, h5, h6, h3 a
  margin-top 2*smallSpace
  margin-bottom smallSpace
  color darken(Orange,20%)
  text-align left
  font-family "Amatic SC", cursive
h3, h3 a
  font-size 36px
h2, h2 a
   font-family 'Open Sans', sans-serif
   font-weight bold
   color black
h1, h1 a
  margin-left smallSpace
  color white
  text-align left
  font-size (menuHeight - 20px)
  font-family "Amatic SC", cursive

#accroche
  background white
  padding 10px
  padding-left 3vw;
  border-left 10px solid #b6c454;


#participer h3
  color darken(Orange,40%)
#participer h2, #participer h2 a, #decouvrir h2, #decouvrir h2 a
  color black
  font-family "Amatic SC", cursive
  font-size 42px

@media screen
  section
    margin-top 2px
    background bgArticle
    transition background .5s

.focusBox
  //font-size 120%
  font-family "Open Sans", cursive
  text-align justify
  margin 40px auto
  padding 40px
  //margin-top 0
  padding-top 0
  underline()
  //column-width 450px
  column-gap 60px
  >*
    text-indent 0
    margin-top 0
    margin-bottom 20px


article
  margin-right calc(5vw - 15px)
  margin-left calc(5vw - 15px)
  //padding-top menuHeightArea
  margin-top 0.5*menuHeightArea
  margin-bottom 0.5*menuHeightArea
  text-align justify
  font-size 110%


li
  margin smallSpace // smallSpace/2
  margin-left 2*smallSpace

em[id]
  display block
  //padding-top menuHeightArea + smallSpace
  //margin-top -(menuHeightArea + smallSpace)
[id]
  h1, h2, h3, h4, h5, h6
    position relative
    .anchorLink
      display none
      position absolute
      left -25px
      width 25px
      top 0
      bottom 0
      background-image url("img/picto/link.svg")
      background-size 20px
      background-repeat no-repeat
      background-position center left
      opacity .1
      transition opacity .5s
      transition-delay .2s
    &:hover .anchorLink
      opacity .6
      transition-delay 0s
.permalien
  color inherit
  text-decoration none
.highlight
  transition background .5s
  background bgFocus

.button
  font-size bannerTextSize
  background-color bleuDuniter
  border-radius smallSpace
  padding smallSpace 4*smallSpace
  cursor pointer
  letter-spacing 4px
  font-weight bold
  text-shadow none
  display inline-block
  transition transform 0.4s cubic-bezier(0.5,2,0.5,2)
  &:hover
    transform scale(1.05)

#splash, #participer, #info_pratique
  background-color black
  background-image linear-gradient(to right top, alpha(#FED,0.05) 0%, alpha(#FED,0) 100%), linear-gradient(to top, alpha(#FED,0.1) 0%, alpha(black,.5) 100%), url("img/aranxa-esteve-unsplash.jpg")
  background-size cover
  background-position bottom center
  background-attachment fixed
#participer, #info_pratique
  background-image url("img/aranxa-esteve-unsplash.jpg")
  article
    background-image linear-gradient(to right, alpha(#fff,0.9) 0%, alpha(#fff,0.8) 66%, alpha(#fff,0.7) 100%)
    background-size cover
    padding 2*smallSpace
    padding-top 1px
    border-radius 0*smallSpace
  a
    color Greenish

.programme_container
  width 100%
  margin auto
  padding 10px

div.programme_schema
  width 50%
  float left
  margin-bottom 30px
  >a img
    width 83%

div.programme_plan
  margin-left 50%
  margin-bottom 30px
  >a img
    width 100%

#splash
  height bannerHeight
  width 100%
  position relative
  z-index 1
  > *
    //position absolute
    //top 0
    //left 0
    //right 0
    //bottom 0
  .silhouettes
    background-image url("img/silouhettes-sol-fin.svg")
    background-size 100vw
    background-repeat no-repeat
    background-position bottom center
  .subtitle
    padding 0 smallSpace
    margin 0 smallSpace
    padding-top "calc(%s + 10px)" % menuHeightArea
    font-family "Amatic SC", cursive
    text-align justify
    font-size "calc(%s * 11 /10)" % bannerTextSize
    font-weight bold
    display block
    text-shadow 0 0 8px black
    color white
    line-height 140%
  .textSplash
    padding 0 smallSpace
    //padding-top "calc(%s + 10px + 4.5em)" % menuHeightArea
    padding-top 10px
    font-family 'Thasadith', sans-serif
    text-align justify
    font-size "calc(%s * 9 /10)" % bannerTextSize
    font-weight bold
    display block
    text-shadow 0 0 8px black
    color white
    line-height 140%
    a
      text-decoration none
      color white
  .countdown
    //font-size (100vw / 32)
    font-family "Open Sans", sans-serif
    font-size "calc(%s * 9 /10)" % bannerTextSize
    font-weight bold
    color ocre
    padding-top 20px
    //padding-top "calc(%s - (3*%s))" % (bannerHeight bannerTextSize)
    //padding-top "calc( ( 100vh - %s - %s - 20vw ) / 2.1 + %s)" % (menuHeightArea afterSplash menuHeightArea)
    line-height bannerLineSpace
    //line-height "calc(70vh - %s)" % 70px
    //vertical-align center
    text-align center
    text-shadow 0 8px 32px black, 4px 8px 16px black, 2px 4px 8px black
    *
      color inherit
  .delai
    //font-size (100vw / 32)
    font-family "Open Sans", sans-serif
    font-size "calc(%s * 9 /10)" % bannerTextSize
    font-weight bold
    color ocre
    padding-top 20px
    //padding-top "calc(%s - (3*%s))" % (bannerHeight bannerTextSize)
    //padding-top "calc( ( 100vh - %s - %s - 20vw ) / 2.1 + %s)" % (menuHeightArea afterSplash menuHeightArea)
    line-height bannerLineSpace
    //line-height "calc(70vh - %s)" % 70px
    //vertical-align center
    text-align center
    text-shadow 0 8px 32px black, 4px 8px 16px black, 2px 4px 8px black
    *
      color inherit

#decouvrir >div>div
  flex 1 720px
  >ul #cococo
    display flex
    flex-wrap wrap
    >li
      list-style none
      text-align center
      position relative
      font-size 19px
  >ul
    display flex
    flex-wrap wrap
    >li
      list-style none
      text-align left
      position relative
      >a
        height 100%
        text-decoration none
        display flex
        flex-direction column
        padding 10px
        >*
          flex 1
        .picto
          display block
          margin 10px auto
          font-size 120px
          line-height 120px
          >img
            height 120px
        .title
          color inherit
          text-decoration underline
          text-decoration-color alpha(darken(lightGreen,50%), .3)
        &:hover
          background-color alpha(black,.05)
          box-shadow 0px 2px 4px 1px alpha(black,.2)
          .title
            text-decoration-color alpha(darken(lightGreen,50%), .9)
      .subPage
        text-align justify
.places
  margin-top 20px

#formulaires 
	text-align center

#programme .day
    display flex
    flex-wrap wrap
    padding-top 3vw // ajustement position liens
    margin-top -3vw // ajustement position liens
    >.title
      width 100%
      flex unset
      text-align center
      h3
        margin-left auto
        margin-right auto
        display inline-block
    .places li
      list-style-type none
      margin-left 10px
      .room
        position relative
      .roomDetails
        display none
        opacity 0
        transition opacity 0.5s
      &:hover .roomDetails
        display block
        opacity 1
        position absolute
        background white
        border solid 1px lighten(lightGreen,30%)
        left 'calc(100% + %s)' % 10px
        top 50%
        font-size 12px
        line-height 18px
        white-space nowrap
        z-index 1
        height 30px
        margin-top ( - @height /2 )
        padding 5px 10px
        &:before, &:after
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        &:after
          border-color alpha(white,0)
          border-right-color white
          border-width 8px
          margin-top -8px
        &:before
          border-color alpha(lighten(lightGreen,30%),0)
          border-right-color lighten(lightGreen,30%)
          border-width 9px
          margin-top -9px

    >div
      flex 2 300px
    .sessions
      flex 1 620px
      display flex
      position relative
      text-align left
      .timelines
        display flex
        flex-wrap nowrap
        flex-direction row-reverse

        position relative
        //width 40px
        width 224px
        margin-right 5px
        height 100%
        underline()
        border-bottom 0
        border-top 1px solid transparent
        padding-top 5px
        .timeline
          display inline-block
          position relative
          width 10px
          height 100%
        .timeBloc
          display block
          position absolute
          width 6px
          left 0
      .sessionList
        > a
          display block

.startTime
  color inherit;

roomColor(color)
  &.roomRef
    background-color alpha(color,.3)
    &.hover
      background-color alpha(color,1)
  &.subPageLink
    text-decoration none
    box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, .3)
    &:hover, &.hover
      box-shadow inset 0 0px 0 alpha(color, 0), inset 0 -2px 0 alpha(color, 1)
  .timeBloc
    background-color alpha(color,.3)
    &:hover, &.hover
      background-color color

.roomRef
  color: transparent;
  display: inline-block;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-top: -2px;
  roomColor(#000)
.timeline
  roomColor(#000)

.room_1
  roomColor(#C70)
.room_2
  roomColor(#099)
.room_3
  roomColor(#A0E)
.room_4
  roomColor(#2B0)
.room_5
  roomColor(#33E)

.inactive, .subPage[id^="session_"].inactive, #programme .inactive, #programme .day .inactive
  display none

body>section
  position relative

.subPage
  padding 4*smallSpace
  //padding-top menuHeightArea
  border 0
  border-left 4px solid alpha(lighten(lightGreen,30%),0)
  border-image linear-gradient(to bottom, alpha(lighten(lightGreen,30%),0) 0%, lighten(lightGreen,30%) 25%, lighten(lightGreen,30%) 75%, alpha(lighten(lightGreen,30%),0) 100%) 1 100%

  //background-color white
  //background-image url("img/filigrane.jpg")
  //background-size cover
  //background-position bottom center
  //background-attachment fixed

  &>*:last-child
    padding-bottom 4*smallSpace
  &[id^="session_"]
    display flex
    flex-wrap wrap
    .eventArea
      flex 3 500px
      margin 0
      margin-right 4*smallSpace
      padding 0
      padding-bottom 4*smallSpace
    .speakersArea
      flex 1 250px
      padding-bottom 4*smallSpace
      img
        max-width 66%
        max-height 250px
        border-radius 100%
        display block
        margin auto
      .speaker
        underline()
        padding-bottom 40px
        margin-bottom 40px
        &:last-child
          border-bottom none
          padding-bottom 0
          margin-bottom 0
        h4, > a
          text-align center
          display block
          margin auto
  h1
    font-size 180%
  img
    max-width 100%
  @media screen
    &.active, &[id^="session_"].active
      position fixed;
      top (2*menuHeightArea - 2px)
      //bottom  menuHeightArea
      left menuHeightArea
      right menuHeightArea + asideWidth
      padding 4*smallSpace
      background-color white
      box-shadow 0 0 5*smallSpace smallSpace black
      overflow auto
      z-index 3
      .close
        position fixed
        z-index 1
        top 2*menuHeightArea +2px
        right menuHeightArea + asideWidth + 2 * smallSpace
        padding 6px 3*smallSpace 2px
        margin 0 smallSpace
        font-family "Open Sans", sans-serif
        font-weight bold
        background-color rgba(100%,100%,100%,.9)
        text-decoration none
        display block
        underline()
      .bgPopupClose
        position fixed
        background-color hsla(0,0,0,0.4);
      .bgTop
        top menuHeight
        bottom "calc(100% - %s)" % (2*menuHeightArea)
        left 0
        right 0
      .bgBottom
        top "calc(100% - %s)" % menuHeightArea
        bottom 0
        left 0
        right 0
      .bgLeft
        top 2*menuHeightArea
        bottom menuHeightArea
        left 0
        right "calc(100% - %s)" % menuHeightArea
      .bgRight
        top 2*menuHeightArea
        bottom menuHeightArea
        left "calc(100% - %s)" % (menuHeightArea + asideWidth)
        right 0
      &.large
        top menuHeight+smallSpace - 2px
        bottom  smallSpace
        left smallSpace
        right smallSpace
        padding smallSpace
        padding-top 3*smallSpace
        .close
          position fixed
          top menuHeightArea+smallSpace
          right smallSpace + 2 * smallSpace
        .bgTop
          top menuHeight
          bottom "calc(100% - %s)" % (menuHeight+smallSpace)
          left 0
          right 0
        .bgBottom
          top "calc(100% - %s)" % smallSpace
          bottom 0
          left 0
          right 0
        .bgLeft
          top menuHeight+smallSpace
          bottom smallSpace
          left 0
          right "calc(100% - %s)" % smallSpace
        .bgRight
          top menuHeight+smallSpace
          bottom smallSpace
          left "calc(100% - %s)" % (smallSpace + asideWidth)
          right 0
      @media (max-width: 730px)
        &.active, &[id^="session_"].active
          top menuHeight+smallSpace - 2px
          bottom  smallSpace
          left smallSpace
          right smallSpace
          padding smallSpace
          padding-top 3*smallSpace
          .close
            position fixed
            top menuHeightArea+smallSpace
            right smallSpace + 2 * smallSpace
          .bgTop
            top menuHeight
            bottom "calc(100% - %s)" % (menuHeight+smallSpace)
            left 0
            right 0
          .bgBottom
            top "calc(100% - %s)" % smallSpace
            bottom 0
            left 0
            right 0
          .bgLeft
            top menuHeight+smallSpace
            bottom smallSpace
            left 0
            right "calc(100% - %s)" % smallSpace
          .bgRight
            top menuHeight+smallSpace
            bottom smallSpace
            left "calc(100% - %s)" % (smallSpace + asideWidth)
            right 0

a.subPageLink
  clear both
  &.active:after
    content " "
    background linear-gradient(to left, lighten(lightGreen,30%) 0, alpha(lighten(lightGreen,30%),0) 100%)

#programme h3
  padding-left 30px
#programme .speakersList
  //position sticky
  top 70px
  left 0
  right 0
  z-index 1
  margin-left 50px
  li.speakerHead
    text-align center
    padding-top 15px
    width 13%
  .speakerHead
    position relative
    display inline-block
    margin 0
    img
      width 50%
      border-radius 100%
      background-color white
      cursor pointer

    &.active:after
      cursor pointer
      position absolute
      top -10%
      right -10%
      width 40%
      height 40%
      text-align center
      content ""
      background Orange
      background-image url("img/picto/croixBlanche.svg")
      background-position center center
      background-size 50% 50%
      background-repeat no-repeat
      color white
      font-weight bold
      border-radius 100%
    .name
      display none
      opacity 0
      transition opacity 0.5s
    &.active .name
      display block
      opacity 1
      position absolute
      background white
      border solid 1px lighten(lightGreen,30%)
      top 110%
      left 50%
      width 16em
      margin-left (- @width / 2)
      font-size 14px
      text-align center
      padding 10px
      z-index: 1;
      &:before, &:after
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      &:after
        border-color alpha(white,0)
        border-bottom-color white
        border-width 10px
        margin-left -10px
      &:before
        border-color alpha(lighten(lightGreen,30%),0)
        border-bottom-color lighten(lightGreen,30%)
        border-width 11px
        margin-left -11px


.session>.subPageLink, .speakerHead
  transition opacity .2s
.unselected, .inactive
  opacity .3
  &:hover
    opacity 1

#espace_presse
  figure
    flex 1 250px
    text-align center
    *
      text-align center
    >*
      flex 1
    img
      display block
      margin auto
      max-width 250px

//- tab hover
table
  overflow hidden
tr:hover
  background-color tabHoverColor
thead tr:hover
  background-color transparent
td, th
  position relative
td:hover::after, th:hover::after
  content: ""
  position: absolute
  background-color: tabHoverColor
  left: 0
  top: -5000px
  height: 10000px
  width: 100%
  z-index: -1
th:first-child:hover::after
  background-color transparent
//- end tab hover
table
  border-collapse collapse
tr
  display block
thead tr
  underline()
tbody th
  font-weight normal

#money_systems_comparison
  thead th
    text-align center
    cursor pointer
    min-height 70px
    &:first-child
      cursor inherit
  thead, td:first-child, td:last-child, th:first-child, th:last-child
    position sticky

  th, td
    min-width 180px
    padding smallSpace
    .short
      display none
    &.compact
      width 70px
      min-width 70px
      &:first-child
        width auto
      .short
        display inline
      .long
        display none
  th:first-child, td:first-child
    min-width 300px;
    text-align right;

.strong
  font-weight bold


.columnArea
  margin-top 20px
  column-width 450px
  column-fill balance
  //column-rule solid #ccc 1px
  column-rule solid alpha(lighten(lightGreen,10%),.4) 1px

  > *
    display inline-block
    padding 20px
    padding-top 0
    underline()
    margin-bottom 20px
    h3
      margin-top 0
.flexArea
  display flex
  flex-wrap wrap
  > *
    flex 1 350px
    border-left solid alpha(lighten(lightGreen,10%),.4) 1px
    padding 0 20px
    &:first-child
      border-left none

#contact
  //padding-top menuHeightArea
  //margin-top - menuHeightArea
  /*
  ul
    display flex
    flex-wrap wrap
    li
      flex 1 200px
      list-style none
      margin 10px
      padding 0
      text-align center
      */


aside.global
  display none
  position fixed
  top menuHeightArea
  right 0
  bottom 0
  padding smallSpace
  width asideWidth
  background bgAside
  border 0
  border-left 1px solid transparent
  border-image linear-gradient(to bottom, lighten(bleuDuniter,90%), lighten(lightGreen,10%) 2*menuHeightArea, lighten(bleuDuniter,90%) 6*menuHeightArea) 1 100%

@media (max-width: 1024px)
  #splash
    .textSplash
      //padding-top "calc(%s + 10px + 5em)" % menuHeightArea
      padding-top 10px

@media (max-width: 730px)
  article
    margin 0
    padding smallSpace
    //padding-top (menuHeightArea)//+smallSpace)
  footer
    display initial
    text-align center
.long, .spacer
    display none
@media (min-width: 1210px) and (max-width: 1460px)
  .spacer
    display none
@media  (max-width: 1060px)
  .spacer
    display none
@media (min-width: 1211px)
  .short
    display none
@media (min-width: 831px) and (max-width: 1210px)
  .long
    display none
@media (max-width: 340px)
  #mainMenu h1 a+a
    display none
  #splash
    padding-left smallSpace
    a
      font-size 120%
@media (max-width: 270px)
  .short
    display none
@media (max-width: 280px)
  .flexArea > *, #espace-accueil>article>div>div>ul>li, .focusBox
    padding 0
    *
      padding 0
    >a .picto
      font-size 40vw
      line-height 40vw
      >img
        height 40vw
@media (max-width: 180px)
  li, article, #espace-accueil>article div >div >ul >li
    margin 0
    padding-left 0
    padding-right 0
  h1, h2, h3, h4, .focusBox, #splash a
    font-size 100%
  footer, body
    font-size 10vw
    line-height 15vw
@media (max-width: 120px)
  #mainMenu h1
    display none
  #mainMenu
    min-height menuHeightArea

@media (min-width: 731px) and (max-width: 860px)
  #mainMenu h1 a+a
    display none
@media (min-width: 731px) and (max-width: 790px)
  #mainMenu .short span
    display none

@media (max-width: 830px)
  //.short,
  .long
    display none
@media (max-width: 730px)
  #splash .button
    display none
  #mainMenu
    display block
    width 100vw
    >a
      display none
    &.active>a, #nav:checked ~ a
      display block

    &:before
      content '☰'
      padding 0 (menuHeight/3)
      color white
      display block
      position absolute
      right 0
      top 0
      font-size (menuHeight/2)
      cursor pointer
      &:hover
        color lightGreen

ul.fancy-list
  //font-size 16px
  line-height 20px
  list-style none

ul.fancy-list li:before
  font-family FontAwesome
  font-size 14px
  content "\f06c"
  color lightGreen
  position relative
  margin-right 5px
  bottom 2px

.interlude
  background-color black
  background-image linear-gradient(to right top, alpha(#FED,0.05) 0%, alpha(#FED,0) 100%), linear-gradient(to top, alpha(#FED,0.1) 0%, alpha(black,.5) 100%), url("img/festivaloasis.jpg")
  background-size cover
  background-position bottom center
  background-attachment fixed
  width 100%
  height 200px
  position relative

  padding 0 smallSpace
  font-family 'Amatic SC', cursive
  text-align center
  font-size "calc(%s * 2.5)" % bannerTextSize
  font-weight bold
  display block
  text-shadow 0 0 8px black
  color white
  line-height 140%


.occurrence
  background-color alpha(lightGreen,.5)
  border-radius 100px
  display inline-block
  padding 2px 5px
  margin 0 5px
  font-size 75%
  border 2px solid transparent
  cursor pointer
  &:hover, &.hover
    background-color alpha(lightGreen,1)

  &.fav
    border 2px solid favColor

.timeBloc.fav
  border-top 6px solid favColor
  border-left 2px solid favColor
