<article id="accueil">
  <div class="focusBox">
    <h2> Programme </h2>
    <p>
    Le programme des ateliers est en cours d’élaboration et portera sur des thèmes comme:
    <ul class="fancy-list">
      <li>Permaculture </li>
      <li>zéro déchet / zéro impact / Low tech </li>
      <li>Energies </li>
      <li>Economie circulaire, locale, sociale / co-responsabilité financière </li>
      <li>Aspects juridiques </li>
      <li>Gouvernance partagée </li>
    </ul>
    </p><p>
    Mais également des concerts, des jeux et animations pour les enfants et plein de bonnes choses à manger et à boire
    (auberge espagnole: tout le monde partagera ce que chacun aura apporté, food truck, cuisine créative collaborative). 
    </p>
    <p>
    L'entrée est libre et la participation <a href="#accueil">co-responsable</a>. 
  </p>
  </div>
  {build:decouvrir}
</article>