<div id="contact" typeof="ContactPage">
  <h3>Contact :</h3>
  <ul>
    <li property="editor" typeof="Person"><span property="name">{conf:contact.name}</span>&nbsp;:
      <a href="tel:{conf:contact.phone}" property="telephone">{conf:contact.phone}</a>
      <br/><a href="mailto:{conf:contact.email}" property="email">{conf:contact.email}</a>
    </li>
  </ul>
</div>
