<article id="accueil">
    <div id="decouvrir">  
    <h1 style="text-align: center;color:#f29500;">Un événement porté par des citoyens enthousiastes pour des citoyens curieux !</h1>
    <div id="accroche">
    	<b style="font-size: 24px; ">Nous avons fait le pari de transformer la Forêt du Bourgailh en un éco-village éphémère</b>
		<ul class="fancy-list">
 			<li> la <b>place du village</b> pour: les grands moments de forum, le transmuckathon, le bal décroissant et les moments festifs, le pique-nique géant et la buvette, le marché de producteurs, la ludothèque gérée par les enfants, ...</li>
 			<li> des <b> quartiers thématiques</b> pour expérimenter ensemble des alternatives dans l'énergie, l'éducation, l'économie, la démocratie, l'agriculture, ...</li>
 			<i>(voir détails du programme plus bas)</i>
 		</ul>
 	</div>

    <h3>Mais... un éco-village, c'est quoi ?</h3>
    <div class="">
        <div>
            <p>C'est un lieu de vie où les habitants s’organisent ensemble pour explorer d’autres façons de vivre, plus résilientes, coopératives et en meilleure harmonie avec l’environnement.<br>
            L’élément clé du fonctionnement des éco-villages c’est la gouvernance partagée en intelligence collective et la co-responsabilité.</p>
            <p>L’événement <b>Co Co Co &Co</b> s’inspire des explorations innovantes du premier éco-village à visée expérimentale en Gironde, <b><a href="https://www.oasis-ducoqalame.com" target="_blank">l’Oasis du Coq à l’Âme.</a></b></p>
            <p>Le nom de cet événement, <b>Co Co Co &Co</b>, en dit long sur son ambition :
            <ul id="cococo">
			<li><b>Co-élaborer</b></li>
			<li><b>Co-opérer</b></li>
			<li><b>Co-construire</b></li>
			<li><b>& Co-responsables</b></li>
			</ul></p>

        </div><div id="coresponsabiliquoi">
            <h3>La co-responsabili... quoi ?</h3>
            <p>
            <!--Actuellement notre société est organisée en systèmes dits pyramidaux: systèmes éducatifs, économiques, alimentaires, de soutien (social, santé, justice).--> 
            Choisir la co-responsabilité, c'est être acteur de nos modes d'organisation. 
            Ce weekend, nous explorerons la co-responsabilité sur trois de ces modes: la nourriture, le vivre-ensemble et la richesse. </p>
            <p>En pratique: <ul class="fancy-list">
                <li><b>Pour la nourriture</b>, c'est un pique-nique géant partagé et des repas proposés par diverses associations de sensibilisation au gaspillage alimentaire et au zéro déchet.</li>
                <li><b>Pour le vivre-ensemble</b>, c'est la co-construction en intelligence collective de l'évènement par des bénévoles et l'enthousiasme et la curiosité du public qui sont les garants de la réussite de l'évènement.</li>
                <li><b>Pour la richesse</b>, cet évènement ouvert à tous n'est pas payant. Cependant il a des coût que nous devons assumer. Pour financer sans exclure, nous avons fait le choix de la participation consciente et co-responsable .<br>Nous recueillerons vos contributions libres pour prendre en compte les besoins de ceux qui oeuvrent à la transition au travers de cet évènement, de leurs projets et de leurs coûts (euros et heures bénévoles), qui seront affichés dans la plus grande transparence.<br>Chacun pourra contribuer en conscience, s'il le souhaite et en fonction de ses moyens. <b>D'ores et déjà, vous pouvez <a href="#helloAsso">contribuer et faire un don</a>.</b> <p>Dimanche soir en clôture de l'évènement, le public et les intervenants seront invités à répartir le total des contributions au bénéfice de ces acteurs.</p></li>
            </ul>
            </p>
        </div>
        <a href="#participer"><h2 style="text-align: center;"> Vous croyez à ce projet ? Participez à lui donner vie ! </h2></a>
        <!--
        <div>
            <h3>Les cinq piliers des éco-villages sont: </h3>
            <ul>
                <li><a href="#autonomie_alim" class="subPageLink"><span class="picto"><img src="img/picto/beet-2029457_640.png" alt="⚖"/></span> <span class="title">l’autonomie alimentaire</a>
                    <section id="autonomie_alim" class="subPage">{build:autonomie_alim}</section>
                </li>
                <li><a href="#autonomie_ener" class="subPageLink"><span class="picto"><img src="img/picto/sun-1789653_640.png" alt="⚖"/></span> <span class="title">l’autonomie énergétique</a>
                    <section id="autonomie_ener" class="subPage">{build:autonomie_ener}</section>
                </li>
                <li><a href="#mutualisation" class="subPageLink"><span class="picto"><img src="img/picto/hammer-28636_640.png" alt="👊"/></span>
                    <span class="title">la mutualisation</span></a>
                    <section id="mutualisation" class="subPage">{build:mutualisation}</section>
                </li>
                <li><a href="#ouverture" class="subPageLink"><span class="picto"><img src="img/picto/earth-2092185_640.png" alt="🔍"/></span>
                    <span class="title">l’ouverture sur le monde</span></a>
                    <section id="ouverture" class="subPage">{build:ouverture}</section>
                </li>
                <li><a href="#gouvernance" class="subPageLink"><span class="picto"><img src="img/picto/circle-1300241_640.png" alt="🔍"/></span>
                    <span class="title">la gouvernance partagée</span></a>
                    <section id="gouvernance" class="subPage">{build:gouvernance}</section>
                </li>
            </ul>
        </div>
    -->
    </div>
</div>
</article>