<section id="participer">
  <article>
    <h2 style="margin-top: 40px;"> Vous croyez à ce projet ? Participez à lui donner vie ! </h2>
    <h3> Préparation du projet </h3>
    <p>Vous aimez organiser, vous avez de l’expérience dans l’évènementiel, ou vous voulez tout simplement <b>nous donner un coup de main</b> ? Toute aide est la bienvenue !</br>
      <b>Devenez bénévole <a href="https://forms.gle/3T62xBjrwMisuRfz9" target="_blank">en vous inscrivant directement</a></b> ou contactez-nous par email: contact@cococo-et-co.com.
    </p>
    <h3 id="don"> Mécénat et dons </h3>
    <p>
      <b>Contribuez par un don</a></b> pour soutenir cet évènement. <i><a href="https://www.helloasso.com/associations/les-amis-de-l-oasis/collectes/cococo-co" target="_blank">Vous pouvez voir le descriptif détaillé de la campagne sur le site de collecte HelloAsso. </a></i><br><br>
      <iframe id="helloAsso" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/les%20amis%20de%20l%20oasis/collectes/cococo-co/widget" style="width: 100%; height: 650px; border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
    </p>
    <h3> Mise en disponibilité de matériel </h3>
    <p>
      Vous avez du matériel qui pourrait être utile à ce projet (chapiteaux, barnum de grandes tailles, parasols forains et autres grands abris, panneaux de bois pour l'affichage, etc.) ? Nous en ferons bon usage et la valeur de ce prêt sera prise en compte selon les principes de la <a href="#coresponsabiliquoi">co-responsabilité financière</a>. 
    </p>
    <h3> Proposer une intervention </h3>
    <p>
      Vous brûlez de partager une super idée avec nous pour cet évènement ? 
      N’hésitez pas, contactez-nous: <b>contact@cococo-et-co.com</b>
    </p>
    <h3> Appel à toutes vos expertises </h3>
    <p>
    Vous souhaitez intervenir et animer un atelier en rapport avec la philosophie des écovillages ? Là aussi, il suffit de nous contacter: <b>contact@cococo-et-co.com</b>
  </p>
  <p>
    Bienvenue !
  </p>
  <br>
  <div style="margin-left:4vw;border-left: 10px solid #b6c454;text-align:left;padding-left:20px;"><b style="font-size: 24px; ">
    Consultez le <a href="img/dossier-de-presse-cocococo.pdf" target="_blank">dossier de presse</a> et le <a href="img/communique_de_presse-cocococo.png" target="_blank">communiqué de presse.</a></b>
  </div>
  </article>
</section>
