<section id="programme">
  <input type="hidden" class="ogTitle" value="Intéressés par les écovillages ?"/>
  <input type="hidden" class="ogDesc" value="Ouvert à tous, entrée libre, restauration possible (auberge espagnole et food trucks). Parcourez le programme : 2 jours de rencontres et de découvertes. "/>
  <div class="interlude">Le programme !</div>
  <template class="desc">

  </template>
    <article>
      <p>Nos informaticiens nous concoctent en ce moment un programme interactif aux petits oignons... <b>restez connectés !</b></p>
      <p>Mais en attendant, voici un plan du programme.</p>
      <p><b>L'entrée est libre et la participation consciente et <a href="#coresponsabiliquoi">co-responsable</a>, pour financer sans exclure.</b></p>
      <h3>Qui intervient ?</h3>
      <!--{build-nop:__programme}-->

      <p>Cette liste grandit un peu chaque jour. Il y aura une cinquantaine d'intervenants, tous plus passionnants les uns que les autres.</p>


      <ul class="speakersList"><li class="speakerHead speaker_AnneSophieNovel">
        <img class="avatar" src="img/speakers/AnneSophieNovel.png" alt="Anne-Sophie Novel">
        <div class="name">
          <h4 class="desc">Anne-Sophie Novel</h4>
          <div class="description">
            <p>Docteur en économie de formation, j'exerce en tant que journaliste, auteure et conférencière spécialisée dans l'écologie et les alternatives durables, l'innovation sociale et l'économie collaborative.</p>
            <p>Passionnée par les mobilisations et les actions citoyennes qui changent le monde, j'aime écouter la société, être à l'affût des initiatives originales et des tendances de fond qui traversent nos sociétés.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_CamilleChoplin">
        <img class="avatar" src="img/speakers/CamilleChoplin.png" alt="Camille Choplin">
        <div class="name">
          <h4 class="desc">Camille Choplin</h4>
          <div class="description">
            <p>Militante du bon sens ! Depuis 2006, je partage ici mes coups de cœur, trouvailles et bonnes adresses pour une vie plus écolo sans se prendre le chou !</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_NicolasThierry">
        <img class="avatar" src="img/speakers/NicolasThierry.png" alt="Nicolas Thierry">
        <div class="name">
          <h4 class="desc">Nicolas Thierry</h4>
          <div class="description">
            <p>Vice-président en charge de l'environnement et de la biodiversité à la Région Nouvelle-Aquitaine</p>
            <p>Auteur du 📚 « Se réconcilier avec le vivant ».</p>
          </div>
        </div>
      </li><li class="speakerHead speaker_FredericBosque">
        <img class="avatar" src="img/speakers/FredericBosque.png" alt="Frederic Bosqué">
        <div class="name">
          <h4 class="desc">Frederic Bosqué</h4>
          <div class="description">
            <p>Un entrepreneur humaniste, économiste, initiateur du projet TERA.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_XavierGisserot">
        <img class="avatar" src="img/speakers/XavierGisserot.png" alt="Xavier Gisserot">
        <div class="name">
          <h4 class="desc">Xavier Gisserot</h4>
          <div class="description">
            <p>Coordinateur d'Hameaux Légers. Explorateur d'alternatives. Impliqué dans un projet d'écovillage dans le sud de la France. Ex-entrepreneur.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_GardiennesDeLaTerre">
        <img class="avatar" src="img/speakers/GardiennesDeLaTerre.png" alt="Gardiennes De La Terre">
        <div class="name">
          <h4 class="desc">Gardiennes De La Terre</h4>
          <div class="description">
            <p>Et si on changeait le monde en chantant? C'est le pari de 40 femmes, amoureuses de la Nature.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_Lidy">
        <img class="avatar" src="img/speakers/lidy.jpeg" alt="Lidy Zulke Trokhatcheff">
        <div class="name">
          <h4 class="desc">Lidy Zulke Trokhatcheff</h4>
          <div class="description">
            <p>Multi-casquettes, je suis facilitatrice de projets collectifs, accompagnatrice pour entrepreneures, formatrice en intelligence collective, créatrice et membre active de plusieurs projets alternatifs (école alternative, Tiers-lieux, groupement d'achats), maman... Tout ça à la fois, et j'en oublie sans doute !</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_MarcDeLaM">
        <img class="avatar" src="img/speakers/MarcDeLaM.jpg" alt="Marc de la Ménardière">
        <div class="name">
          <h4 class="desc">Marc de la Ménardière</h4>
          <div class="description">
            <p>Entrepreneur, globe-trotter et réalisateur "en quête de sens", investi dans la transition sociétale. Fondateur de l'éco-village Espace Totem.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_MathieuLabonne">
        <img class="avatar" src="img/speakers/MathieuLabonne.png" alt="Mathieu Labonne">
        <div class="name">
          <h4 class="desc">Mathieu Labonne</h4>
          <div class="description">
            <p>Ingénieur Supaéro, ancien chercheur au CNRS sur le climat et expert sur les questions liées au carbone, Mathieu a mené de nombreux projets associatifs en utilisant les outils de gouvernance participative. Il coordonne la Ferme du Plessis / Centre Amma, ainsi qu'un écohameau. Mathieu a assuré le rôle de 1er lien entre janvier 2015 et janvier 2019. Il coordonne désormais le pôle "Soutenir", notamment le projet Oasis et l'Université des colibris, et est président des SCIC Coopérative Oasis et Oasis21.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_NicolasVoisin">
        <img class="avatar" src="img/speakers/NicolasVoisin.png" alt="Nicolas Voisin">
        <div class="name">
          <h4 class="desc">Nicolas Voisin</h4>
          <div class="description">
            <p>Papa, activiste, fondateur de OWNI.fr, PoliticShow.net, VP libertés, en chemin vers La Suite Du Monde.</p>

          </div>
        </div>
      </li><li class="speakerHead speaker_NathalieDard">
        <img class="avatar" src="img/speakers/NathalieDard.png" alt="Nathalie Dard">
        <div class="name">
          <h4 class="desc">Nathalie Dard</h4>
          <div class="description">
            <p>Après avoir exercé le métier d'institutrice pendant 20 ans et s'être formée à l'ACP (Carl Rogers) accompagne des groupes dans la mise en place de Systèmes Restauratifs.</p>
          </div>
        </div>
      </li><li class="speakerHead speaker_DieudonneDard">
        <img class="avatar" src="img/speakers/DieudonneDard.png" alt="Dieudonné Dard">
        <div class="name">
          <h4 class="desc">Dieudonné Dard</h4>
          <div class="description">
            <p>Après avoir exercé le métier de pilote de ligne pendant une trentaine d'années, accompagne le développement des Cercles Restauratifs, comme un des ingrédients contribuant à l'émergence d'un mode de vie aussi attractif que le modèle occidental, mais soutenable.</p>
          </div>
        </div>
      </li><li class="speakerHead speaker_CorinneMartinez">
        <img class="avatar" src="img/speakers/CorinneMartinez.png" alt="Corinne Martinez">
        <div class="name">
          <h4 class="desc">Corinne Martinez</h4>
          <div class="description">
            <p>Conseillère départementale du canton La Brède. Présidente de la commission Agenda 21 et Développement Durable.</p>
          </div>
        </div>
      </li><li class="speakerHead speaker_DanieleBachere">
        <img class="avatar" src="img/speakers/DanieleBachere.png" alt="Danièle Bacheré">
        <div class="name">
          <h4 class="desc">Danièle Bacheré</h4>
          <div class="description">
            <p>Passionnée par le champ de l'organisation humaine en intelligence collective, elle oeuvre largement au sein du mouvement Colibris.</p>
            <p>Elle s'occupe tout particulièrement des projets "d'Oasis" en Aquitaine, ces éco-hameaux oeuvrant pour une transition écologique, économique et sociétale.</p>
            <p>Elle est l'initiatrice d'un éco-hameau en Gironde.</p>

          </div>
        </div>
      </li>
      <!--<li class="speakerHead speaker_unknown11">
        <img class="avatar" src="img/speakers/QuestionMark.png" alt="A découvrir">
        <div class="name">
          <h4 class="desc">A découvrir</h4>
          <div class="description">
            <p>A découvrir bientôt !</p>

          </div>
        </div>
      </li>-->
      </ul>







      <div class="programme_container">
        <div class="programme_schema">
          <h3>On fait quoi ? </h3>
          <a href="img/schema-programme-cocococo-large.jpg" target="_blank"><img class="programme_schema" src="img/schema-programme-cocococo.jpg"></a>
        </div>
        <div class="programme_plan">
          <h3>Où sont les ateliers ? </h3>
          <a href="img/Plan-CoCoCoCo.jpg" target="_blank"><img class="programme_plan" src="img/Plan-CoCoCoCo.jpg"></a>
        </div>
      </div>

  </article>
</section>
