<div id="splash">
  <!--<div id="particles"></div>-->
  <!--<div class="silhouettes"><img class="onlyPrint" src="img/print_splash.jpg" alt=""/></div>-->
  <div class="subtitle">Co-élaborer, co-opérer, co-construire & Co-responsables</div>
  <span class="textSplash">Les 16 et 17 mai 2020, la forêt du Bourgailh se transforme en écovillage éphémère ! 
  Un weekend de fête pour découvrir, approfondir, imaginer des solutions face aux défis d'aujourd'hui.</span>
  <!--<div class="countdown"></div>-->
  <div class="delai"> En raison du confinement sanitaire, l'évènement Cococo &Co est reporté à une date ultérieure à définir.</div>
</div>
