<footer>
  <div id="mapandlogos">
    <address id="contact">
      <a href="mailto:{conf:contact.email}">{conf:contact.email}</a>
      <a href="tel:{conf:contact.phone}">{conf:contact.phone}</a>
      <div class="map"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.6955933570861818%2C44.7982359928893%2C-0.6652092933654786%2C44.810750573267626&amp;layer=mapnik"></iframe><br/><a href="https://www.openstreetmap.org/#map=16/44.8045/-0.6804">Voir en plus grand</a>
        </a>
      </div>
    </address>
  </div>
  <div id="main-logos">
   	<a href="//oasis-ducoqalame.com/?OasisAccueil" rel="noreferrer" target="_blank"><img src="img/logo/logo-OasisDuCALM.png" alt="Oasis du Coq à lÂme" id="left_img"
    /></a>
    <a href="https://www.facebook.com/colibrisbordeaux/" rel="noreferrer" target="_blank"><img src="img/logo/logo-colibris-bordeaux.png" alt="Colibris" id="mid_img" 
    /></a>
	<a href="https://www.colibris-lemouvement.org/projets/projet-oasis" rel="noreferrer" target="_blank"><img src="img/logo/logo-Projet-Oasis.png" alt="Colibris national" id="right_img"
    /></a>
  </div>
  <br>
  <br>
  <br>
  <div id="sponsors">
    <img src="img/logo/agenda21.gif" alt="Agenda 21"/>
  	<img src="img/logo/mairiepessac.png" alt="Mairie de Pessac"/>
  	<img src="img/logo/foretbourgailh.jpg" alt="Forêt du Bourgailh"/>
    <img src="img/logo/logo_na_vertical_QUADRI_2019.png" alt="Région Nouvelle Aquitaine"/>
    <img src="img/logo/logo-gironde-2018-Q.png" alt="Gironde"/>
    <img src="img/logo/Bordeaux_Metropole_logo_positif_vertical_RVB_02_400px-PNG.png" alt="Bordeaux Métropole"/>
    <img src="img/logo/logo-bordeaux.png" alt="Bordeaux Ville"/>
  </div>
</footer>
