<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
  <meta charset="utf-8"/>
  <title>{conf:title}</title>
  <link rel="stylesheet" href="style.css"/>
<!--
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

  <link rel="icon" href="img/logo/g16.png" type="image/png"/>
  <link rel="icon" sizes="32x32" href="img/logo/g32.png" type="image/png"/>
  <link rel="icon" sizes="64x64" href="img/logo/g64.png" type="image/png"/>
  <link rel="icon" sizes="96x96" href="img/logo/g96.png" type="image/png"/>
  <link rel="icon" sizes="196x196" href="img/logo/g196.png" type="image/png"/>
  <link rel="icon" sizes="1000x1000" href="img/logo/g1000.png" type="image/png"/>
  <link rel="icon" sizes="any" href="img/logo/g.svg" type="image/svg+xml"/>

  <link rel="apple-touch-icon" sizes="152x152" href="img/logo/g152.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="img/logo/g60.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo/g76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="img/logo/g114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo/g120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="img/logo/g144.png"/>

  <meta name="msapplication-TileImage" content="img/logo/g144.png"/>
-->
  <meta name="msapplication-TileColor" content="#FFFFFF"/>

  <link rel="canonical" href="{conf:canonical}"/>
  <!--<link type="text/plain" rel="author" href="{conf:canonical}humans.txt" />-->
  <link type="text/plain" rel="author" href="{conf:canonical}" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="rgb(255,198,84)"/>


  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:title" content="{conf:og.title}" />
  <meta property="og:site_name" content="{conf:og.site_name}" />
  <meta property="og:url" content="{conf:canonical}" />

  <meta property="og:image" content="{conf:canonical}{conf:og.images_path}{conf:og.image}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="628" />

  <meta property="og:description" content="{conf:description}" />
  <meta property="og:updated_time" content="{build:__now}"/>
  <meta name="description" content="{conf:description}" />
  <meta name="for_js:start_date" content="{conf:date.start}"/>
  <meta name="for_js:start_time" content="{conf:date.start_time}"/>
  <meta name="for_js:end_date" content="{conf:date.end}"/>
  <meta name="for_js:end_time" content="{conf:date.end_time}"/>
  <script src="main.js" defer></script>
  <script src="https://kit.fontawesome.com/703e7d2359.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans|Reenie+Beanie|Thasadith&display=swap" rel="stylesheet">
</head>
