<header>
  <label for="nav" role="nav" id="mainMenu">
    <h1>
    <!--<a class="titre" href="#top"><span class="short">{conf:titre.tiny}</span><span class="long">{conf:titre.long}</span></a>-->
    <a class="titre" href="#top"><img src="img/logo/logo-coco-colorMM.png" alt="Cococo&co"/></a>
    </h1>
    <div class="spacer"></div>
    <input type="checkbox" id="nav">
    <a href="#accueil">Accueil</a>
    <a href="#programme">Programme</a>
    <a href="#participer">Co-élaborer</a>
    <a href="#contact">Contact</a>
  </label>
</header>
